/* code here */

/* FONT */
@font-face {
  font-family: 'Shojumaru';
  src: url(../assets/font/Shojumaru-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/font/Montserrat-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Cinzel';
  src: url(../assets/font/Cinzel-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Playfair';
  src: url(../assets/font/PlayfairDisplay-Regular.woff) format('woff');
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
}

ul {
  list-style: none;
}

/* BASE */
html {
  scroll-behavior: smooth;
}

body {
  font-family: serif;
  line-height: 1.5;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  background-color: black;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

h3 {
  font-size: 20px;
  border-bottom: 1px solid #8b8888;
}

p {
  font-family: sans-serif;
  font-size: x-small;
  opacity: 0.6;
}

/* Container */

.container {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 7) 0%, transparent 10%),
    linear-gradient(to top, rgba(0, 0, 0, 7) 0%, transparent 2%),
    url(../assets/images/background.png);
  max-width: 800px;
  margin: auto;
  position: relative;
}

/* Header */

header {
  padding: 15px 20px;
  font-family: 'serif';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 23px;
}

.first-letter {
  font-size: larger;
}

nav {
  font-family: sans-serif;
  display: none;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav li {
  cursor: pointer;
  border-bottom: 4px solid transparent;
}

nav li:hover {
  border-bottom: 3px solid #aa5848;
}

.hamburger-btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger-btn span {
  width: 22px;
  height: 2.5px;
  border-radius: 12px;
  background-color: white;
  opacity: 0.8;
}

/* overflow menu */
.overflow-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 10px 20px;
  width: 125px;
  color: #8b8888;
  border-radius: 10px;
  border: 4px solid #aa5848;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  background-image: url(../assets/images/background.png);
}

.overflow-menu .close-btn {
  text-align: right;
  font-size: 10px;
  font-weight: 700;
  color: #dad7d7;

  cursor: pointer;
}

.overflow-menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.overflow-menu ul li {
  border-bottom: 1px solid #8b8888;
}

.overflow-menu ul li:hover {
  color: #aa5848;
  border-bottom: 1px solid #aa5848;
}

/* Hero */
.hero {
  border-bottom: 4px solid #aa5848;
  border-top: 4px solid #aa5848;
  padding: 1px 0;
}

/* Greeting */
.greeting {
  padding: 20px 30px;
  text-align: center;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.greeting h2 {
  font-size: 28px;
}

.greeting .line {
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 1.5px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Main */
main {
  border-top: 5px solid #aa5848;
  border-bottom: 5px solid #aa5848;
  color: black;
  background: url(../assets/images/background2.png);
  background-position: 83% center;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.intro-container {
  display: flex;
  gap: 10px;
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 65%;
  padding: 10px;
  border-radius: 10px;
  background-color: #dad7d7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.intro-container .intro-banner {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.intro-container img {
  margin-top: 10px;
}
.intro-container p {
  text-align: justify;
  margin-top: 10px;
}

blockquote {
  position: relative;
}

blockquote.first-quote {
  border-bottom: 1px solid #8b8888;
  padding-bottom: 20px;
}

blockquote img {
  position: absolute;
  top: -15px;
}

blockquote p {
  position: relative;
  top: 10px;
  margin-left: 40px;
}

/* Quick-info */
.quick-info {
  flex: 35%;
  background-image: url('../assets/images/background.png');
  font-family: serif;
  border-radius: 10px;
  padding: 10px;
  align-self: flex-start;
  border: 4px solid #aa5848;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.quick-info h3 {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 5px;
  margin-bottom: 8px;
  border-bottom: 1px solid #8b8888;
}

.quick-info ul {
  font-family: sans-serif;
  font-size: 8px;
  display: flex;
  color: #8b8888;
  flex-direction: column;
  gap: 6px;
}

/* Biography */
.biography {
  display: none;
}
.biography article {
  display: flex;
  gap: 15px;
}

.biography article img {
  width: 50%;
  object-position: 55%;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.biography article .text {
  text-align: justify;
}

.biography article .text h4 {
  border-bottom: 1px solid #8b8888;
  margin-bottom: 5px;
}

/* Ability */
.ability {
  display: none;
}
.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: justify;
}

.image-container {
  height: 100px;
}

.card img.eye {
  object-fit: contain;
}

.card img {
  margin: auto;
  height: 95%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: 60%;
}

.ability-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ability-text h4 {
  border-bottom: 1px solid #8b8888;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
}

@media (min-width: 375px) {
  /* Ability */
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    padding: 11px;
  }
}

@media (min-width: 500px) {
  /* Ability */
  .card {
    padding: 15px;
  }
}

@media (min-width: 650px) {
  p {
    font-size: small;
  }
  /* Header */
  nav {
    display: block;
  }

  header {
    padding: 15px 70px;
  }

  h1 {
    font-size: 25px;
  }

  .hamburger-btn {
    display: none;
  }

  /* overflow menu */
  .overflow-menu {
    display: none;
  }

  /* Greeting */
  .greeting {
    padding: 25px;
  }

  .greeting h2 {
    font-size: 25px;
  }

  .greeting .line {
    max-width: 500px;
  }

  /* Main */
  main {
    padding: 20px 70px;
    background-position: right;
    background-size: cover;
    gap: 20px;
    background-position: 75% center;
  }

  h3 {
    font-size: 25px;
  }

  blockquote img {
    top: -10px;
  }

  /* Quick info */
  .quick-info {
    flex: 30%;
    padding: 15px 20px;
  }
  .quick-info h3 {
    font-size: 15px;
  }

  .quick-info ul {
    font-size: 10px;
  }

  /* Ability */
  .image-container {
    height: 150px;
  }
}
